.countdown {
  border-top: 2px solid #38383f;
  display: flex;
  flex: 1 0 0;
  justify-content: end;
  text-align: center;
  padding: 8px;
  max-width: 400px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(24% - 8px);
  margin: 0 4px;
  max-width: calc(24% - 8px);
}

.section p {
  margin: 0;
}

.section p:first-child {
  font-family: f1-bold;
  font-size: 3.2rem;
  margin-bottom: 8px;
}

.section p:last-child {
  color: #949498;
  font-size: 1.5rem;
}

.countdown a {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.countdown a h2 {
  font-size: 4rem;
  margin: 0;
  margin-right: 24px;
}

.liveEvents {
  position: relative;
  width: 32px;
  height: 32px;
}

.liveFixed, .liveAnimate {
  position: absolute;
  top: 50%;
  margin: -10px 0 0 -10px;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #e10600;
  border-radius: 100%;
}

.liveAnimate {
  transform: scale(1);
  animation: 1s infinite record;
  transition: 1s all linear;
}


@media (max-width: 1200px) {
  .section p:first-child {
    font-size: 2.8rem;
  }

  .section p:last-child {
    font-size: 1.5rem;
  }
  .countdown a h2 {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .section p:first-child {
    font-size: 2rem;
  }
  .section p:last-child {
    font-size: 0.8rem;
  }
  .countdown a h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .countdown {
    padding-top: 16px;
    justify-content: center;
    max-width: none;
  }
  .section p:first-child {
    font-size: 3rem;
  }
  .section p:last-child {
    font-size: 1rem;
  }
  .countdown a h2 {
    margin-right: 8px;
  }
}

@media (max-width: 576px) {
  .section p:first-child {
    font-size: 2rem;
  }
  .section p:last-child {
    font-size: 1rem;
  }
}

@keyframes record {
  from {
    transform: scale(1);
    opacity: 0.75;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
