@font-face {
  font-family: f1;
  src: url(https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff2);
}

@font-face {
  font-family: f1-bold;
  src: url(https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff2);
}

@font-face {
  font-family: f1-wide;
  src: url(https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff2);
}

html,
body {
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
  font-family: f1, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
