.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.raceName {
  font-family: f1-wide;
  font-size: 4rem;
  padding-left: 2rem;
}

.title {
  display: flex;
  margin-bottom: 48px;
  width: 100%;
}

.circuitName {
  border-top-right-radius: 20px;
  border-top: 2px solid #38383f;
  border-right: 2px solid #38383f;
  font-family: f1-bold;
  margin: 0;
  margin-right: 12px;
  line-height: 1.15;
  font-size: 4rem;
  padding: 2rem;
  padding-bottom: 16px;
}

@media (min-width: 1680px) {
  .main {
    transform: scale(1.5);
  }
}

@media (max-width: 1200px) {
  .main {
    margin: 0 32px;
    overflow: hidden;
  }
  .raceName, .circuitName {
    font-size: 3rem;
    padding-left: 1rem;
  }
}

@media (max-width: 992px) {
  .raceName, .circuitName {
    font-size: 2.5rem;
    padding-left: 0.8rem;
  }
}

@media (max-width: 768px) {
  .raceName {
    font-size: 3.2rem;
  }
  .title {
    background: #15151e;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
  }
  .circuitName {
    border: none;
    padding: 0;
    padding-bottom: 16px;
  }
}

@media (max-width: 576px) {
  .raceName {
    font-size: 2.4rem;
  }
  .circuitName {
    font-size: 2rem;
  }
}
